
<div class="header">
  <div class="container">
      <ul>
        <li>About</li>
        <li>Work</li>
        <li>Contact</li>
      </ul>
      <h3>Jennifer Metz</h3>
  </div>
</div>

<div class="main">
  <div class="container">
  <h1>Creating web content<br>
    for decades &amp;<br>
       developing apps<br>
       for days.</h1>
  <a href="portfolio"><button type="button" class="btn btn-default">View My Work</button></a>
 </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="logo">
      <li><a href="https://github.com/"><%= image_tag "social138.svg" %></a></li>
      <li><a href="http://www.linkedin.com/in/jenmetz/en"><%= image_tag "social123.svg" %></a></li>
      <li><a href="https://twitter.com/JenMetzOnline"><%= image_tag "social136.svg" %></a></li>
      <li><small>&copy; 2015  Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small></li>  
    </ul>
  </div>
</div>



    